#shazadi {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}


button {
    font-size: 2rem;
    background-color: rgba(6, 0, 6);
    color: rgba(135, 12, 135, 0.5);
    border-radius: 10px;
    10px
}

body {
    padding-top: 100px;
    background-image: url(/img/fondo.jpg);
    height: 100%;
    width: 100%;
    color: white;
    text-align: center font-family: 'Dancing Script', cursive;
    font-family: 'Leckerli One', cursive;
}

tr {
    text-align: center
}

header {
    font-size: 2rem;
    background-color: rgb(28, 28, 31);
    padding-top: -100px;
    position: fixed;
  

}

h1 {
    font-family: 'Dancing Script', cursive;
}

article {
    width: 65%;
    height: 100%;
    float: left;
    display: block;
    padding-bottom: 100%;
    margin-bottom: -100%;
    margin-top: 5%;
}

aside {
    width: 35%;
    height: 100%;
    float: right;
    display: block;
    padding-bottom: 100%;
    margin-bottom: -100%;
    margin-top: 5%
}

#titulos {
    background-color: black;
    color: rgba(135, 12, 135, 0.5);
    font-size: 2rem;
    border: 6px double rgba(135, 12, 135, 0.5);
    display: inline-block;
}



footer {
    background-color: aliceblue;
}